{% extends 'base.html' %}
{% block content %}
<div class="text">
<h2>Registration</h2>
<p></p>
{% for msg in get_flashed_messages(category_filter=["error"]) %}
<div class="error">{{msg}}</div>
{% endfor %}
     <label id="username">Username:</label>
    <input type="text" name="username" required/>
    <p></p>
    <label id="email">Email:</label>
    <input type="email" name="email" required/>
    <p></p>
    <label id="password">Password:</label>
    <input type="password" name="password" required/>
    <p></p>
     <label id="confirm_password">Confirm password:</label>
    <input type="password" id="confirm_password" required/>
    <p></p>
    <button type="submit" class="btn btn-info" id="register_button" data-url="url_for('register')">Confirm</button>
</div>
{% endblock %}